replicaCount: 1
image:
  repository: 630019796862.dkr.ecr.eu-central-1.amazonaws.com/retail-vadim-store-cart
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  name: ""

podAnnotations: {}
podSecurityContext:
  fsGroup: 1000
securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 256m
    memory: 512Mi

# 1. APP CONFIGURATION
app:
  persistence:
    provider: dynamodb
    endpoint: "http://retail-store-cart-dynamodb:8000"

# 2. DYNAMODB CONFIGURATION
dynamodb:
  create: true
  image:
    repository: amazon/dynamodb-local
    tag: "latest"
  service:
    port: 8000
  persistence:
    enabled: true
    storageClass: "retail-vadim-gp2"
    size: 8Gi
podDisruptionBudget:
  enabled: false
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
